<mat-card *ngIf="result_token?.length > 0">
  <mat-card-title>Recover password</mat-card-title>
<mat-card-content>
<form [formGroup]="form" (ngSubmit)="ForgotPassword()">
<p>
  <mat-form-field>
    <input type="text" matInput placeholder="New password" formControlName="newpassword">
  </mat-form-field>
</p>

<p>
  <mat-form-field>
    <input type="password" matInput placeholder="Password" formControlName="password">
  </mat-form-field>
</p>

<div class="button">
  <button type="submit" mat-button>Recover password</button>
  <button type="button" (click)="Goback()" mat-button>Go to login</button>
</div>

</form>
</mat-card-content>
</mat-card>

<mat-card *ngIf="result_token?.length < 1">
  <mat-card-title>Recover password</mat-card-title>
<mat-card-content>
<form >

<h3>Token has expired</h3>

<h3>Regenerate a new token</h3>

<div class="button">
  <button type="button" (click)="Goback()" mat-button>Go to login</button>
</div>

</form>
</mat-card-content>
</mat-card>

