:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
input[type=number] { -moz-appearance:textfield; }

.file-picker{
  background-color: red;
  color:white;
  font-family: Roboto, Helvetica, Arial;
  display: inline-block;
  margin:5px;
  padding:10px;
  box-shadow:0px 1px 3px rgba(0,0,0,0.4);
  cursor: pointer;
}

.file-picker + [type='file']{
  display:none;
}
img{
  width: 100px;
  height: 80px;
}

